nuxeo-userpassword-reset/src/main/resources/schemas/resetPasswordKeys.xsd

<?xml version="1.0"?>
<xs:schema
    targetNamespace="http://www.nuxeo.org/ecm/schemas/resetPasswordKey"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="passwordResetKey" type="xs:string"/>
    <xs:element name="creationDate" type="xs:string"/>
    <xs:element name="email" type="xs:string" />

</xs:schema>
